body{
    background-image: url(/images/back2.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.ul{
    font-weight: bold;
    color: gold;

}
.author-ul{
    display: block; 
    font-weight: bold;
    color: gold;
}